<% content_for :m_title do %>About<% end %>

<h1>Open Meeting?</h1>

<p>Long time ago, I planned to set up a meeting with my friends. First of all, I decided to use our lovely social network. However, it wasn't easy. Not all of them happened not to actively use the same network. I thought, "Oh god. if I had to set up multiple invitations just to get everyone, I would need to clone myself to manage the invitation on each social network." Eventually, before I was at my limit, I decided to use my old friend iCal to manage the problem.</p>
<p>Does it the problem? Not really. When I use my iCal to manage the meetings, I can't get the status as not everyone uses iCal. It is even worse if invitees regularly use different softwares, for example, Microsoft Outlook or Google Calendar. In the end, I can only manage the electronic records of my meetings but I cannot use most out of what iCal, Microsoft Outlook or Google Calendar can do.</p>
<p>A while after that, I decided to build the system that:</p>
<ul>
 <li>didn't have to register (sign up) to use,</li>
 <li>my friends didn't need to be on any social networks or use the same organizing software,</li>
 <li>it should be easy enough to use without explanation,</li>
 <li>and secure enough to protect the information about the meeting.</li>
</ul>
<p>So, that's where <a title="Open Meeting" href="http://om.shiroyuki.com">Open Meeting</a> comes.</p>
<p>More about it? Please visit <%= link_to "http://om.shiroyuki.com", "http://om.shiroyuki.com" %>.</p>
