<% content_for :m_title do %>Privacy policy<% end %>

<h1>Privacy policy</h1>
<p>
  Open Meeting is expected to respect one's privacy. So, it does have the rules
  as followed:
</p>
<ul>
  <li>does not permanently collect user information from Twitter, except:</li>
  <ul>
    <li>the screen name and the full name ONLY for identification per login session</li>
    <li>participants' email addresses ONLY for sending the invitation and confirmation</li>
  </ul>
  <li>does not index any meeting entry</li>
  <li>does not track the usage (except by the firewall)</li>
</ul>
<p>
  Open Meeting has only this human-readable version of the policy. If you think
  this is not good enough, please contact <%= link_to "Juti Noppornpitak at Shiroyuki Studio", "http://shiroyuki.com/contact" %>.
</p>
