<% content_for :m_title do %>Terms of services<% end %>

<h1>Terms of services</h1>
<p>
  Well, currently as it is pre-alpha, it is free for all as long as you use
  legally internationally. Spamming is forbidden.
</p>
<p>
  Additionally, Open Meeting cannot guarantee the quality of service (e.g.
  possibility of data loss or downtime) as it is under development.
</p>
