    </div>
    <div id="footer">
      <div id="footer-nav">
        <ul>
          <li><a href="/about">About Open Meeting</a></li>
          <li><a href="/how_it_works">How it works</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms of Services</a></li>
        </ul>
        <ul>
          <li><a href="http://shiroyuki.com">Shiroyuki Studio</a></li>
          <li>&copy; <a href="http://shiroyuki.com/about">Juti Noppornpitak</a></li>
        </ul>
      </div>
      <p>You are using <a href="/about">Open Meeting 1.5-20100709</a></p>
    </div>
  </body>
</html>